html, body, .grid-container { height: 100%; margin: 0; }

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-family: 'Montserrat', 'sans-serif';
}

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.1fr 41px 1fr;
  gap: 3px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main";
    
}

body {
  font-family: Open Sans;
}

header { 
 display: flex;
 justify-content: center;
 grid-area:header; 
 position: relative;
 text-align:center;
 background-color: white;
 border-inline-start: 0px;
}

.timestamp {
  margin-left: 3em;
  margin-top: 5em;
}


.headerlogo {
  margin-top:20px;
  max-width: 300px;
  float: center;
}

 {
 display: block;
 font-size: 2em;
 margin-block-start: 0.67em;
 margin-block-end: 0.67em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
}

nav { 
grid-area: nav; 
text-align: center;
position: sticky;
top:0;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A3D5FF;
}

media = "screen and (min-width: 650px)"
@ media screen and (min-width: 885px)
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: black;
  padding: 9px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
  color: white;
}

main { grid-area: main;

}

.hero-image-container {
  background-image: url("NewHeroImage.jpg");
  width: auto;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  text-align: center;
}

.overlay-script {
  padding: 50px;
  text-emphasis: stroke;
  font-size:150%;
  text-align: left;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -55%);
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}

footer { 
grid-area: footer; 
text-align: center;
background-color: pink;
}

/*---Media Query for Responsive Screen Adaptation*/
@media screen and (max-width:460px) {
  .grid-container {
    display: block;
  }
  header,
  nav,
  main,
  footer {
    width: 100%;
    min-height: 200px; 
  }
}

/* For presentation only, no need to copy the code below 
.grid-container * {
  border: 1px solid black;
  position: relative;
}
*/