html, body, .grid-container { height: 100%; margin: 0; }

h3 {
  font-size: 26px;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-family: 'Montserrat', 'sans-serif';
}

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.1fr 36pxfr 1fr;
  gap: 3px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main";
}

body {
 font-family: 'Source Sans Pro', sans-serif;
}

header { 
 grid-area:header; 
 display: flex;
 justify-content: space-evenly;
 position: relative;
 text-align:center;
 background-color: white;
 border-inline-start: 0px;
}

.timestamp {
  margin-left: 3em;
  margin-top: 5em;
}

.box {
  display: flex;
  justify-items: inherit;
  width: 100px;
  height: 120;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  float: right;
}

.headerlogo {
  margin-top:20px;
  margin-left:20px;
  max-width: 300px;
}

.headerlogo:hover {
border: 2px solid red;
}

#twitter-bird:hover {
background-color: white;
border-radius: 10px;
}

#insta:hover {
background-color: white;
border-radius: 10px;
}

#facebook:hover {
background-color: white;
border-radius: 10px;
}

#youtube:hover {
background-color: white;
border-radius: 10px;
}

nav { 
position: sticky;
font-family: 'Montserrat', 'sans-serif';
top: 0;
grid-area: nav; 
text-align: center;
z-index: 5;
}

ul {
 display: flex;
 justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A3D5FF;
}

nav ul {
  list-style: none;
  padding: 5px;
}

li { 
  display: flex;
}

li a {
  display: block;
  color: black;
  padding: 9px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
  color: white;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

 nav { 
    position: relative;
  }

  header { 
 display: flex;
 flex-direction: column;
  }
}

main { grid-area: main;
}

.hero-image-container {
  background-image: url("NewHeroImage.jpg");
  position: relative;
  z-index: 1;
  width: auto;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
 .grid-container {
  display: flex;
  flex-direction: column;
 }

 .overlay-script {
  height: 200px;
  font-size: 1%;
 }

 h1 {
 font-size: 2%;
 }

 .hero-image-container {
  width: auto;
  height: 300px;
  }
} 

.overlay-script {
  background: rgba(132, 144, 175, 0.4);
  border-radius: 5px;
  max-height: 700px;
  padding: 5%;
  font-size: 3vh;
  text-align: left;
  position: absolute;
  left:4%;
  color: white;
}

.donatebutton {
  background-color: red;
  margin-top: 10px;
  border-radius: 5px;
  border: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 25px;
  margin: 20px;
  cursor: pointer;
}

.donatebutton:hover {
  color: red;
  background-color: white;
}

.information-container {
  background-color: white;
  text-align: center;
  padding: 2%;
  border: 2px;
  z-index: 2;
}

.blurb {
  background-color: #EEF5FC;
  border-radius: 5px;
  padding: 2%;
  margin: 2%;
}

.Bibleverse {
  margin: 8px;
  margin-top: 12px;
  padding: 10px;
}

.video-container {
  margin: 4%;
}

.videolink {
  margin: 10px;
}

.blockout {
  background-color:#DE8C7D;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
}

.facts {
display: flex;
justify-content: center;
margin-top: 4%;
}

.expand-text {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 700px) {
 .facts {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 }
}

.input-box {
  background-color: lightblue;
  padding: 10px;
}

footer { 
display: flex;
justify-content: space-evenly;
grid-area: footer; 
text-align: center;
background-color: pink;
}

.footer-box {
  margin: 10px;
  
}

/*---Media Query for Responsive Screen Adaptation*/
@media screen and (max-width:460px) {
  .grid-container {
    display: block;
  }
  header,
  nav,
  main {
    width: 100%;
    min-height: 200px; 
  }
}